body {
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  line-height: 1.7;
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 2rem;
  background-color: #fafafa;
  color: #111;
}

footer {
  font-size: 0.9rem;
  font-style: italic;
  text-align: center;
  color: #555;
  margin-top: 4rem;
  padding-top: 2rem;
  border-top: 1px solid #ddd;
  line-height: 1.6;
}

footer a {
  color: #333;
  text-decoration: none;
  font-style: normal;
}

footer a:hover {
  text-decoration: underline;
}




.main-nav {
  margin-top: 1rem;
}

.main-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 3rem; /* Espaciado entre los enlaces */
}

.main-nav li {
  margin: 0;
}

.main-nav a {
  text-decoration: none;
  font-weight: bold;
  font-family: inherit;
  color: #333;
  font-size: 1.1rem;
  transition: color 0.3s;
}

.main-nav a:hover {
  color: #0077cc; /* Azul suave al pasar el mouse */
}


@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

header {
  min-height: 150px; /* Ajusta según tu diseño */
  animation: fadeIn 0.1s ease-in-out;
}

main {
  min-height: 500px; /* Ajusta también según tu contenido medio */
  animation: fadeIn 0.3s ease-in-out;
}